
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

h3 {
  font-family: "Montserrat-bold";
  font-size: 2rem;
  font-weight: bold;
  color:#0C3653;
}

.btn2{
  background-color:gray ;
  color:white;
}

p {
  color: #8f8f8f;

}

.tab2 {
  display: inline-block;
   margin-left: 80px;
 }

 .skill-row{
  width:50%;
  margin:100px auto 100px auto;
  text-align: left;
}
.skilldef{
  color:black;
  font-style:normal;
  font-family: sans-serif;
  font-weight: bold;
}

.Computer-Games{
  width:100%;
  margin-right: 30px;
  border-radius:50%;
}

.Table-Tennis{
  width:100%;
  margin-left: 30px;

  border-radius:50%;
}

.img__wrap {
  position: relative;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: grey;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  font-family: "Montserrat";
  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}
/* Headings */

.big-heading {
  font-family: "helvetica";
   font-style: italic;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;

}

.nav-item {
  padding: 0 18px;
}

.nav-link {

  font-family: "Montserrat-Light";
  color: gray;
}
.nav-link:hover{
  background-color: gray;

}
/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #ff4c68;
  color:#fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section */

#features {
  padding: 7% 15%;
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  text-align: center;
  padding: 0.5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
.pricing-text{
  font-weight: bold;
  font-size: 2rem;
  color:gray;
}
/* Pricing Section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */
#cta {
  text-align: center;
  padding: 3% 5%;
}

/* Footer Section */


.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
.pg:hover{
  color:black;
  background-color: :black;
}
